* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Mulberry-color: #830051;
  --Lime-green-color: #C4D600;
  --Navy-color: #003865;
  --Graphite-color: #3F4444;
  --Light-Blue-color: #68D2DF;
  --Magenta-color: #D0006F;
  --Purple-color: #3C1053;
  --Gold-color: #F0AB00;
  --Platinum-color: #9DB0AC;
  --black-color: #000;
  --white-color: #fff;

  --ff-lexia: "Lexia";
  --ff-helvetica-neue: "Helvetica Neue";
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: var(--ff-lexia);
}

h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: var(--white-color);
}

h2 {
  font-size: 20px;
  line-height: 26px;
}

body {
  font-family: var(--ff-helvetica-neue);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--slds-g-color-neutral-base-100);
}

.br-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.br-4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

header {
  background-color: var(--white-color);
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

header.sticky {
  box-shadow: 0px 18px 88px -4px #18274B24, 0px 8px 28px -6px #18274B1F;
}

.h-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.h-nav {
  padding: 0 30px;
}

.h-nav nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
}

.h-nav nav ul li {
  position: relative;
}

.h-nav nav ul li a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: var(--Navy-color);
}

.h-nav nav ul li a::before {
  position: absolute;
  background-image: url('data:image/svg+xml,<svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.37462 2.16708V1.5H8.62529V2.90048H4.37462V2.23343C4.37509 2.22243 4.37534 2.21137 4.37534 2.20026C4.37534 2.18914 4.37509 2.17808 4.37462 2.16708ZM2.87482 1.45026H2.18767C1.60535 1.45026 1.0482 1.68367 0.63845 2.097C0.228914 2.51012 0 3.06905 0 3.65049V13.8022C0 14.3836 0.228914 14.9425 0.63845 15.3557C1.0482 15.769 1.60534 16.0024 2.18767 16.0024H10.8137C11.396 16.0024 11.9531 15.769 12.3629 15.3557C12.7724 14.9425 13.0013 14.3836 13.0013 13.8022V3.65049C13.0013 3.06905 12.7724 2.51012 12.3629 2.097C11.9531 1.68367 11.396 1.45026 10.8137 1.45026H10.1251C10.1119 0.652982 9.46542 0 8.65645 0H4.34345C3.53449 0 2.88801 0.652982 2.87482 1.45026ZM10.1251 2.95026C10.1119 3.74751 9.46541 4.40048 8.65645 4.40048H4.34345C3.5345 4.40048 2.88803 3.74751 2.87482 2.95026H2.18767C2.0074 2.95026 1.83319 3.02243 1.70372 3.15304C1.57402 3.28387 1.5 3.46268 1.5 3.65049V13.8022C1.5 13.99 1.57402 14.1688 1.70372 14.2996C1.83319 14.4302 2.0074 14.5024 2.18767 14.5024H10.8137C10.9939 14.5024 11.1682 14.4302 11.2976 14.2996C11.4273 14.1688 11.5013 13.99 11.5013 13.8022V3.65049C11.5013 3.46268 11.4273 3.28387 11.2976 3.15304C11.1682 3.02243 10.9939 2.95026 10.8137 2.95026H10.1251Z" fill="%238A9099"/></svg>');
  content: '';
  width: 14px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  left: -26px;
  top: 2px;
}

.h-nav nav ul li a:hover {
  color: var(--Magenta-color);
}

.h-profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-text p {
  color: var(--Platinum-color);
}

.user-title p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--Navy-color);
}

.dash-bord {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 100px;
}

.dash-bord-bg-img {
  opacity: 30%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  width: 100%;
}

.side-pannel {
  float: left;
  height: calc(100vh - 164px);
  width: 350px;
  box-shadow: 0px 0px 50px 0px #2434871A;
  background-color: var(--slds-g-color-neutral-base-100);
}

.side-pannel-bg {
  bottom: 0;
  width: 334px;
  z-index: -1;
}

.side-pannel-box {
  background: linear-gradient(316.34deg, var(--Navy-color) 0%, var(--Purple-color) 99.24%),
    linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  height: 100%;
  z-index: 1;
}

.side-pannel-tabs {
  margin-right: -16px;
}

.side-pannel-tab {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0 12px 24px;
  border-radius: 32px 0 0 32px;
  -webkit-border-radius: 32px 0 0 32px;
  -moz-border-radius: 32px 0 0 32px;
  -ms-border-radius: 32px 0 0 32px;
  -o-border-radius: 32px 0 0 32px;
}

.side-pannel-tab p {
  color: var(--white-color);
}

.side-tab-icon {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF80;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.side-tab-icon p {
  font-size: 10px;
  line-height: 9px;
  color: var(--white-color);
}

.side-tab-icon::after {
  position: absolute;
  content: "";
  border: 1px dashed var(--slds-g-color-neutral-base-50);
  height: 44px;
  z-index: -1;
}

.side-pannel-tab.active {
  background-color: var(--slds-g-color-neutral-base-100);
  box-shadow: 0px 0px 50px 0px #2434871A;
}

.side-pannel-tab.active p {
  color: var(--black-color);
}

.side-pannel-tab.active .side-tab-icon {
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: var(--Mulberry-color);
}

.side-pannel-tab.active .side-tab-icon p {
  color: var(--slds-g-color-neutral-base-100);
}

.full-dash-boxs {
  float: right;
  width: calc(100% - 340px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.full-dash-box {
  background-color: var(--slds-g-color-neutral-base-100);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.full-dash-num {
  width: 48px;
  height: 48px;
  background: linear-gradient(316.34deg, var(--Navy-color) 0%, var(--Purple-color) 99.24%),
    linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px 0 32px;
  -webkit-border-radius: 16px 0 32px;
  -moz-border-radius: 16px 0 32px;
  -ms-border-radius: 16px 0 32px;
  -o-border-radius: 16px 0 32px;
  top: 2px;
  left: 2px;
}

.full-dash-num p {
  font-weight: 500;
  color: var(--white-color);
}

.full-dash-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.full-dash-box:last-child {
  margin-bottom: 20px;
}

.full-dash-title .f-title,
.full-dash-title .full-dash-btns {
  width: 50%;
}

.full-dash-title .full-dash-btns {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
}

.full-dash-box.active {
  box-shadow: 0px 20px 50px 0px #2C3F5826;
}

.btn {
  padding: 8px 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: 500;
  border: 1px solid transparent;
}

.btn-pri {
  color: var(--white-color);
  background-color: var(--Mulberry-color);
}

.btn-sec {
  background-color: var(--Lime-green-color);
  color: var(--black-color);
}

.btn-pri:hover {
  border-color: var(--Magenta-color);
  background: transparent;
  color: var(--Mulberry-color);
}

.btn-sec:hover {
  border-color: var(--Lime-green-color);
  background: transparent;
  color: var(--Lime-green-color);
}

.full-dash-form {
  gap: 24px;
}

.full-form-input {
  width: calc(25% - 18px);
}

.full-form-input label {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 19px;
  color: var(--Graphite-color);
  margin-bottom: 4px;
  display: block;
}

input,
select {
  width: 100%;
  border: 1px solid #E8E9EB;
  outline: none;
  height: 40px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  color: var(--Platinum-color);
}

input::placeholder,
select::placeholder {
  color: var(--Platinum-color);
}

input[type="text"],
select,
input[type="date"],
input[type="search"] {
  padding: 0 15px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.87123 0.228781C9.07626 0.433806 9.07626 0.766218 8.87123 0.971243L5 4.84247L1.12877 0.971243C0.923744 0.766218 0.923744 0.433806 1.12877 0.228781C1.33379 0.0237559 1.66621 0.0237559 1.87123 0.228781L5 3.35755L8.12877 0.228781C8.33379 0.0237559 8.66621 0.0237559 8.87123 0.228781Z" fill="%238A9099"/></svg>');
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

input[type="search"] {
  position: relative;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.75 7C1.75 4.1005 4.1005 1.75 7 1.75C9.8995 1.75 12.25 4.1005 12.25 7C12.25 9.8995 9.8995 12.25 7 12.25C4.1005 12.25 1.75 9.8995 1.75 7ZM7 0.25C3.27208 0.25 0.25 3.27208 0.25 7C0.25 10.7279 3.27208 13.75 7 13.75C8.59376 13.75 10.0585 13.1976 11.2133 12.2739L14.7192 15.7799C15.0121 16.0728 15.487 16.0728 15.7799 15.7799C16.0728 15.487 16.0728 15.0121 15.7799 14.7192L12.2739 11.2133C13.1976 10.0585 13.75 8.59376 13.75 7C13.75 3.27208 10.7279 0.25 7 0.25Z" fill="%233F434A"/></svg>');
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.owner {
  width: fit-content;
  background-color: #F8F8F8;
  border: 1px solid #E8E9EB;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: absolute;
  left: 3px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.owner-fild {
  position: relative;
}

.owner p {
  color: var(--black-color);
}

.full-dash-box {
  scroll-margin-top: 8.25rem;
}

.full-dash-box[aria-disabled="false"] {
  opacity: 1 !important;
}